* {
  font-family: 'Bodoni Moda', serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
  transition: background-color 0.5s ease;
}

#information {
  background-color: #ffffff;
  padding: 40px;
  transition: background-color 0.5s ease;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

button.night-button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: #000;
  padding: 0;
  margin-right: 25px;
}

.info-boxes {
  background-color: #f2f9fa;
  transition: background-color 0.5s ease;
  border-radius: 30px;
}

header {
  background-color: #b6daeb;
  padding: 20px;
  transition: background-color 0.5s ease;
}

h2, h3 {
  color: #333;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

p {
  color: #666;
  font-size: 16px;
  line-height: 1.5;
}

section {
  margin-bottom: 40px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.content-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 50px;
}

.carousel-container {
  width: 50%;
  max-width: 600px;
  margin: 0 auto;
  overflow: hidden;
  height: 700px;
}

.carousel-slide {
  display: flex;
  width: 100%;
  animation: slide 50s infinite;
}

.carousel-slide img {
  width: 100%;
  height: auto;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  33.33% {
    transform: translateX(-100%);
  }
  66.66% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0);
  }
}

#inquiry-form {
  background-color: #f2f9fa;
  transition: background-color 0.5s ease;
  flex: 1;
  max-width: 400px;
  margin: 0 auto;
  border-radius: 30px;
  margin-bottom: 50px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#inquiry-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

#inquiry-form input[type="text"], #inquiry-form input[type="email"], #inquiry-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

#inquiry-form textarea {
  resize: vertical;
}

#inquiry-form button {
  background-color: #45aaf2;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#inquiry-form button:hover {
  background-color: #1c7fd6;
}

#inquiry-form label, #inquiry-form input[type="text"], #inquiry-form input[type="email"], #inquiry-form textarea, #inquiry-form button {
  display: block;
  width: 100%;
}

#inquiry-form * {
  margin-bottom: 15px;
}

footer {
  background-color: #b6daeb;
  text-align: center;
  padding: 20px;
  transition: background-color 0.5s ease;
}
  