nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

nav ul {
  display: flex;
}

nav li {
  margin-right: 20px;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
}
